.ex-1-square{
    transition: background-color 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: border 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square{
    transition: opacity 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: transform 3s;
}

.ex-5-square:hover{
    transform: scale(2)
}

.ex-5-square:active{
    transform: scale(0.5)
}

.ex-6-img:hover{
    filter: grayscale(1)
}

.ex-7-img{
    transition: filter 4s;
}

.ex-7-img:hover{
    filter: hue-rotate(139deg) invert(1);
}

.ex-8-img{
    transition: all 4s;
}

.ex-8-img:hover{
    filter: sepia(0.7) invert(1);
    border-radius: 20px;
}

.ex-9-img{
    transition: all 5s;
}

.ex-9-img:hover{
    filter: brightness(3) blur(2px);
    border-radius: 20px;
    transform: scale(1.5)
}

.ex-10-icon{
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0%{
        transform: rotate(1turn)
    }
}

.ex-11-icon:hover{
    animation: almost-rotation 2s linear;
}

@keyframes almost-rotation {
    0%{
        transform: rotate()
    }

    75%{
        transform: rotate(270grad)
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: dancetop 4s linear;
}

@keyframes dancetop {
    0%{
        position: absolute;
        top: -10px;
        left: 10%;
    }
    25%{
        position: absolute;
        top: -10px;
        left: 25%;
    }
    50%{
        position: absolute;
        top: -10px;
        left: 35%;
    }
    75%{
        position: absolute;
        top: -10px;
        left: 45%;
    }
    100%{
        position: absolute;
        top: -10px;
        left: 55%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: dancebottom 4s linear;
}

@keyframes dancebottom {
    0%{
        position: absolute;
        bottom: -10px;
        right: 10%;
    }
    25%{
        position: absolute;
        bottom: -10px;
        right: 25%;
    }
    50%{
        position: absolute;
        bottom: -10px;
        right: 35%;
    }
    75%{
        position: absolute;
        bottom: -10px;
        right: 45%;
    }
    100%{
        position: absolute;
        bottom: -10px;
        right: 55%;
    }
}
