.ex-1-square{
    transition: background-color 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: border 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square{
    transition: opacity 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: transform 3s;
}

.ex-5-square:hover{
    transform: scale(2)
}

.ex-5-square:active{
    transform: scale(0.5)
}

.ex-6-img:hover{
    filter: grayscale(1)
}

.ex-7-img{
    transition: filter 4s;
}

.ex-7-img:hover{
    filter: hue-rotate(139deg) invert(1);
}

.ex-8-img{
    transition: all 4s;
}

.ex-8-img:hover{
    filter: sepia(0.7) invert(1);
    border-radius: 20px;
}

.ex-9-img{
    transition: all 5s;
}

.ex-9-img:hover{
    filter: brightness(3) blur(2px);
    border-radius: 20px;
    transform: scale(1.5)
}
